<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TomXplorerC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <userSettings>
    <TomXplorerC.Properties.Settings>
      <setting name="UpToDate" serializeAs="String">
        <value />
      </setting>
      <setting name="Idioma" serializeAs="String">
        <value>Español</value>
      </setting>
      <setting name="UsernameCreated" serializeAs="String">
        <value />
      </setting>
      <setting name="PasswordCreated" serializeAs="String">
        <value />
      </setting>
      <setting name="Username" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="Created" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Pagina" serializeAs="String">
        <value>https://www.google.com/</value>
      </setting>
      <setting name="OcultarURL" serializeAs="String">
        <value>no</value>
      </setting>
      <setting name="Buscador" serializeAs="String">
        <value>Google</value>
      </setting>
      <setting name="ConfiguracionCambiada" serializeAs="String">
        <value>no</value>
      </setting>
      <setting name="CodigoDeRecuperacion" serializeAs="String">
        <value />
      </setting>
    </TomXplorerC.Properties.Settings>
  </userSettings>
</configuration>
